* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #224;
}
img {
    max-width: 140px;
}
#frame {
    width: 150px;
    height: 100px;
    perspective: 900px;
}
#middle {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    animation: rotate 24s linear infinite;
}
.card {
    position: absolute;
    inset: 0;
    width: 150px;
    height: 100px;
    background: #fff;
    transform-style: preserve-3d;
}
.card:nth-child(1) {
    transform: rotateY(0deg) translateZ(400px);
}
.card:nth-child(2) {
    transform: rotateY(30deg) translateZ(400px);
}
.card:nth-child(3) {
    transform: rotateY(60deg) translateZ(400px);
}
.card:nth-child(4) {
    transform: rotateY(90deg) translateZ(400px);
}
.card:nth-child(5) {
    transform: rotateY(120deg) translateZ(400px);
}
.card:nth-child(6) {
    transform: rotateY(150deg) translateZ(400px);
}
.card:nth-child(7) {
    transform: rotateY(180deg) translateZ(400px);
}
.card:nth-child(8) {
    transform: rotateY(210deg) translateZ(400px);
}
.card:nth-child(9) {
    transform: rotateY(240deg) translateZ(400px);
}
.card:nth-child(10) {
    transform: rotateY(270deg) translateZ(400px);
}
.card:nth-child(11) {
    transform: rotateY(300deg) translateZ(400px);
}
.card:nth-child(12) {
    transform: rotateY(330deg) translateZ(400px);
}
.face {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.back {
    transform: rotateY(180deg);
}
.back img {
    transform: scaleX(-1);
}
.hover-ev {
    position: absolute;
    width: 140px;
    height: 93px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    z-index: 2;
}
.front:hover .hover-ev {
    opacity: 1;
    visibility: visible;
}

@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(-360deg);
    }
}