* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.open {
    width: 200px;
    height: 50px;
    background: limegreen;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
}
.close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}
.modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
    z-index: 10000;
}
.modal-popup {
    position: relative;
    padding: 15px;
    border: 1px solid black;
    border-radius: 15px;
    width: 600px;
    height: 300px;
    background: #fff;
    display: flex;
    flex-direction: column;
}
input {
    margin: 15px 0px;
    padding: 5px;
    width: 250px;
    height: 30px;
    border-radius: 15px;
    border: solid 1px black;
}
button {
    position: absolute;
    bottom: 15px;
    background: #fff;
    width: 75px;
    border: 1px solid black;
    border-radius: 5px;
}

#login:checked ~ .modal {
    display: flex;
}