* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
.box {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 50px;
    }

    .number {
        width: auto;
        height: 100px;
        background: #fff;
        text-align: center;
        margin: 20px;

        span {
            font-size: 60px;
            font-weight: bold;
            color: green;
        }
    }

    button {
        margin: 0px 15px;
        width: 75px;
        height: 25px;
    }
}