    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @property --aaa {
        syntax: '<percentage>';
        inherits: false;
        initial-value: 0%;
    }
    @property --bbb {
        syntax: '<integer>';
        inherits: false;
        initial-value: 0;
    }
    @property --ccc {
        syntax: '<angle>';
        inherits: false;
        initial-value: 0deg;
    }
    .click {
        position: absolute;
        left: 50%;
        top: 25%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        border: solid 2px black;
        border-radius: 20px;
        background: red;
        transition: all 0.3s;
    }
    .click:focus {
        
        background: conic-gradient(
            #47c547 0deg,
            #47c547 var(--ccc),
            transparent var(--ccc),
            transparent 360deg
        );
        animation: circle 1s ease-in forwards;
    }
    .warp {
        position: relative;
        width: 450px;
        height: 100px;
        border-radius: 20px;
        border: solid 2px black;
        counter-reset: n var(--bbb);
        transition: --bbb 1s steps(100);
        z-index: 10;
        overflow: hidden;
    }
    .warp::after {
        content: counter(n);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
        color: black;
    }
    .box {
        position: absolute;
        left: 0;
        width: var(--aaa);
        height: 100px;
        border-radius: 20px;
        background: #47c547;
        transition: 1s;
        z-index: 0;
    }
    .click:focus ~ .warp {
        --bbb: 100;
    }
    .click:focus ~ .warp .box {
        --aaa: 100%;
    }
    body:focus .warp .box {
        background: red;
    }

    @keyframes circle {
        from {
            --ccc: 0deg;
        }
        to {
            --ccc: 360deg;
        }
    }