.arrow:nth-child(53) {
    position: absolute;
    left: -1000px;
    width: 810px;
    height: 125px;
    background: #aad467;
    animation: arrow 1s ease-out forwards;
    animation-delay: 5s;
}
.arrow:nth-child(53):after {
    content: "";
    position: absolute;
    top: -50px;
    right: -120px;
    width: 125px;
    height: 225px;
    background: #aad467;
    clip-path: polygon(0% 5%, 90% 50%, 0% 95%);
}
.arrow:nth-child(54) {
    position: absolute;
    bottom: -10px;
    left: -1000px;
    width: 810px;
    height: 150px;
    background: #67c2ae;
    animation: arrow 1s ease-out forwards;
    animation-delay: 5.1s;
}
.arrow:nth-child(54):after {
    content: "";
    position: absolute;
    top: -50px;
    right: -145px;
    width: 150px;
    height: 250px;
    background: #67c2ae;
    clip-path: polygon(0% 0%, 90% 50%, 0% 100%);
}
.arrow:nth-child(55) {
    position: absolute;
    top: 90px;
    left: -1000px;
    width: 810px;
    height: 200px;
    background: #7b339c;
    animation: arrow 1s ease-out forwards;
    animation-delay: 5.2s;
}
.arrow:nth-child(55):after {
    content: "";
    position: absolute;
    top: -65px;
    right: -145px;
    width: 175px;
    height: 330px;
    background: #7b339c;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}
.arrow:nth-child(56) {
    position: absolute;
    bottom: 75px;
    left: -1000px;
    width: 810px;
    height: 250px;
    background: #df3d66;
    animation: arrow 1s ease-out forwards;
    animation-delay: 5.3s;
}
.arrow:nth-child(56):after {
    content: "";
    position: absolute;
    top: -75px;
    right: -170px;
    width: 200px;
    height: 400px;
    background: #df3d66;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}
.arrow:nth-child(57) {
    position: absolute;
    left: -900px;
    width: calc( 100% + 100px );
    height: 500px;
    background: orange;
    clip-path: polygon(0% 0%, 0% 100%, 85% 100%, 100% 50%, 85% 0%);
    animation: arrow 1s;
    animation-delay: 6.05s;
}
.arrow:nth-child(58) {
    position: absolute;
    left: -1000px;
    width: calc( 100% + 150px );
    height: 500px;
    background: black;
    clip-path: polygon(0% 0%, 0% 100%, 85% 100%, 100% 50%, 85% 0%);
    animation: arrow 1s forwards;
    animation-delay: 6.12s;
}
.arrow:nth-child(59) {
    position: absolute;
    left: -1000px;
    width: 810px;
    height: 125px;
    background: #aad467;
    animation: arrow 1s ease-out forwards;
    animation-delay: 6.55s;
}
.arrow:nth-child(59):after {
    content: "";
    position: absolute;
    top: -50px;
    right: -120px;
    width: 125px;
    height: 225px;
    background: #aad467;
    clip-path: polygon(0% 5%, 90% 50%, 0% 95%);
}
.arrow:nth-child(60) {
    position: absolute;
    bottom: -10px;
    left: -1000px;
    width: 810px;
    height: 150px;
    background: #67c2ae;
    animation: arrow 1s ease-out forwards;
    animation-delay: 6.65s;
}
.arrow:nth-child(60):after {
    content: "";
    position: absolute;
    top: -50px;
    right: -145px;
    width: 150px;
    height: 250px;
    background: #67c2ae;
    clip-path: polygon(0% 0%, 90% 50%, 0% 100%);
}
.arrow:nth-child(61) {
    position: absolute;
    top: 90px;
    left: -1000px;
    width: 810px;
    height: 200px;
    background: #7b339c;
    animation: arrow 1s ease-out forwards;
    animation-delay: 6.75s;
}
.arrow:nth-child(61):after {
    content: "";
    position: absolute;
    top: -65px;
    right: -145px;
    width: 175px;
    height: 330px;
    background: #7b339c;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}
.arrow:nth-child(62) {
    position: absolute;
    bottom: 75px;
    left: -1000px;
    width: 810px;
    height: 250px;
    background: #df3d66;
    animation: arrow 1s ease-out forwards;
    animation-delay: 6.85s;
}
.arrow:nth-child(62):after {
    content: "";
    position: absolute;
    top: -75px;
    right: -170px;
    width: 200px;
    height: 400px;
    background: #df3d66;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}
.arrow:nth-child(63) {
    position: absolute;
    left: -900px;
    width: calc( 100% + 100px );
    height: 500px;
    background: orange;
    clip-path: polygon(0% 0%, 0% 100%, 85% 100%, 100% 50%, 85% 0%);
    animation: arrow 1s;
    animation-delay: 7.6s;
}
.arrow:nth-child(64) {
    position: absolute;
    left: -1000px;
    width: calc( 100% + 150px );
    height: 500px;
    background: white;
    clip-path: polygon(0% 0%, 0% 100%, 85% 100%, 100% 50%, 85% 0%);
    animation: arrow 1s forwards;
    animation-delay: 7.67s;
}


@keyframes arrow {
    from {
        transform: translateX(-1000px);
    }
    to {
        transform: translateX(1000px);
    }
}
/* arrow */