.circle:nth-child(35) {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 500px) rotateZ(90deg);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: conic-gradient(
        gray 0deg,
        gray 180deg,
        #df3d66 180deg,
        #df3d66 360deg
    );
    animation: seesaw-circle1 5s forwards;
    animation-delay: 7.5s;
}
.stick:nth-child(36) {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 500px);
    width: 550px;
    height: 15px;
    border-radius: 15px;
    background: #df3d66;
    animation: seesaw-stick1 5s forwards;
    animation-delay: 7.5s;
}
.circle:nth-child(37) {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(100px, -75px) rotateZ(90deg);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: #000;
    animation: seesaw-circle2 5s forwards;
    animation-delay: 7.5s;
}
.circle:nth-child(38) {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 500px) rotateZ(90deg);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: conic-gradient(
        gray 0deg,
        gray 180deg,
        #df3d66 180deg,
        #df3d66 360deg
    );
    animation: seesaw-circle3 5s forwards;
    animation-delay: 12.5s;
}
.stick:nth-child(39) {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 500px);
    width: 550px;
    height: 15px;
    border-radius: 15px;
    background: #df3d66;
    animation: seesaw-stick2 5s forwards;
    animation-delay: 12.5s;
}
.circle:nth-child(40) {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(525px, -75px) rotateZ(90deg);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: #fff;
    animation: seesaw-circle4 5s forwards;
    animation-delay: 12.5s;
}

@keyframes seesaw-circle1 {
    10%,32% {transform: translate(-50%, 400px) rotateZ(90deg);}
    48% {transform: translate(-50%, 400px) rotateZ(75deg);}
    76%, 100% {transform: translate(-50%, 400px) rotateZ(105deg);}
}
@keyframes seesaw-circle2 {
    0%,25% {transform: translate(100px, -75px);}
    43%, 48% {transform: translate(100px, 350px);}
    70% {transform: translate(100px, 240px);}
    85% {transform: translate(535px, 355px);}
    100% {transform: translate(535px, 355px) scale(20);}
}
@keyframes seesaw-circle3 {
    10%,32% {transform: translate(-50%, 400px) rotateZ(90deg);}
    48% {transform: translate(-50%, 400px) rotateZ(105deg);}
    76%, 100% {transform: translate(-50%, 400px) rotateZ(75deg);}
}
@keyframes seesaw-circle4 {
    0%,25% {transform: translate(525px, -75px);}
    43%, 48% {transform: translate(525px, 350px);}
    70% {transform: translate(525px, 240px);}
    85% {transform: translate(115px, 355px);}
    100% {transform: translate(115px, 355px) scale(20);}
}
@keyframes seesaw-stick1 {
    8%,32% {transform: translate(-50%, 380px) rotateZ(0deg);}
    48% {transform: translate(-50%, 380px) rotateZ(-15deg);}
    70%, 100% {transform: translate(-50%, 380px) rotateZ(15deg);}
}
@keyframes seesaw-stick2 {
    8%,32% {transform: translate(-50%, 380px) rotateZ(0deg);}
    48% {transform: translate(-50%, 380px) rotateZ(15deg);}
    70%, 100% {transform: translate(-50%, 380px) rotateZ(-15deg);}
}