.stick {
    position: absolute;
    right: 0;
    width: 0;
    height: 50px;
    background: #000;
}
.stick:nth-child(1) {
    top: 0;
    animation: stick-1 1s ease-in forwards;
    animation-delay: 0.5s;
}
.stick:nth-child(2) {
    top: 50px;
    animation: stick-1 1s ease-in forwards;
    animation-delay: 0.2s;
}
.stick:nth-child(3) {
    top: 100px;
    animation: stick-1 1s ease-in forwards;
    animation-delay: 0.4s;
}
.stick:nth-child(4) {
    top: 150px;
    animation: stick-1 1s ease-in forwards;
    animation-delay: 0.3s;
}
.stick:nth-child(5) {
    top: 200px;
    animation: stick-1 1s ease-in forwards;
}
.stick:nth-child(6) {
    top: 250px;
    animation: stick-1 1s ease-in forwards;
    animation-delay: 0.25s;
}
.stick:nth-child(7) {
    top: 300px;
    animation: stick-1 1s ease-in forwards;
    animation-delay: 0.1s;
    
}
.stick:nth-child(8) {
    top: 350px;
    animation: stick-1 1s ease-in forwards;
    animation-delay: 0.35s;
}
.stick:nth-child(9) {
    top: 400px;
    animation: stick-1 1s ease-in forwards;
    animation-delay: 0.15s;
}
.stick:nth-child(10) {
    top: 450px;
    animation: stick-1 1s ease-in forwards;
    animation-delay: 0.45s;
}
.stick:nth-child(11) {
    top: 0;
    animation: stick-2 1s ease-in forwards;
    animation-delay: 0.5s;
    background: #B39DDB;
}
.stick:nth-child(12) {
    top: 50px;
    animation: stick-2 1s ease-in forwards;
    animation-delay: 0.2s;
    background: #FF8A80;
}
.stick:nth-child(13) {
    top: 100px;
    animation: stick-2 1s ease-in forwards;
    animation-delay: 0.4s;
    background: #80CBC4;
}
.stick:nth-child(14) {
    top: 150px;
    animation: stick-2 1s ease-in forwards;
    animation-delay: 0.3s;
    background: #B39DDB;
}
.stick:nth-child(15) {
    top: 200px;
    animation: stick-2 1s ease-in forwards;
    background: #FF8A80;
}
.stick:nth-child(16) {
    top: 250px;
    animation: stick-2 1s ease-in forwards;
    animation-delay: 0.25s;
    background: #80CBC4;
}
.stick:nth-child(17) {
    top: 300px;
    animation: stick-2 1s ease-in forwards;
    animation-delay: 0.1s;
    background: #B39DDB;
    
}
.stick:nth-child(18) {
    top: 350px;
    animation: stick-2 1s ease-in forwards;
    animation-delay: 0.35s;
    background: #FF8A80;
}
.stick:nth-child(19) {
    top: 400px;
    animation: stick-2 1s ease-in forwards;
    animation-delay: 0.15s;
    background: #80CBC4;
}
.stick:nth-child(20) {
    top: 450px;
    animation: stick-2 1s ease-in forwards;
    animation-delay: 0.45s;
    background: #B39DDB;
}
.stick:nth-child(21) {
    top: 0;
    animation: stick-1 1s ease-in forwards;
    animation-delay: 1.7s;
    background: #fff;
}
.stick:nth-child(22) {
    top: 50px;
    animation: stick-1 1s ease-in forwards;
    animation-delay: 1.4s;
    background: #fff;
}
.stick:nth-child(23) {
    top: 100px;
    animation: stick-1 1s ease-in forwards;
    animation-delay: 1.6s;
    background: #fff;
}
.stick:nth-child(24) {
    top: 150px;
    animation: stick-1 1s ease-in forwards;
    animation-delay: 1.5s;
    background: #fff;
}
.stick:nth-child(25) {
    top: 200px;
    animation: stick-1 1s ease-in forwards;
    animation-delay: 1.2s;
    background: #fff;
}
.stick:nth-child(26) {
    top: 250px;
    animation: stick-1 1s ease-in forwards;
    animation-delay: 1.45s;
    background: #fff;
}
.stick:nth-child(27) {
    top: 300px;
    animation: stick-1 1s ease-in forwards;
    animation-delay: 1.3s;
    background: #fff;
}
.stick:nth-child(28) {
    top: 350px;
    animation: stick-1 1s ease-in forwards;
    animation-delay: 1.55s;
    background: #fff;
}
.stick:nth-child(29) {
    top: 400px;
    animation: stick-1 1s ease-in forwards;
    animation-delay: 1.35s;
    background: #fff;
}
.stick:nth-child(30) {
    top: 450px;
    animation: stick-1 1s ease-in forwards;
    animation-delay: 1.65s;
    background: #fff;
}
.stick:nth-child(31) {
    top: 0;
    animation: stick-2 1s ease-in forwards;
    animation-delay: 1.7s;
    background: #B39DDB;
}
.stick:nth-child(32) {
    top: 50px;
    animation: stick-2 1s ease-in forwards;
    animation-delay: 1.4s;
    background: #FF8A80;
}
.stick:nth-child(33) {
    top: 100px;
    animation: stick-2 1s ease-in forwards;
    animation-delay: 1.6s;
    background: #80CBC4;
}
.stick:nth-child(34) {
    top: 150px;
    animation: stick-2 1s ease-in forwards;
    animation-delay: 1.5s;
    background: #B39DDB;
}
.stick:nth-child(35) {
    top: 200px;
    animation: stick-2 1s ease-in forwards;
    animation-delay: 1.2s;
    background: #FF8A80;
}
.stick:nth-child(36) {
    top: 250px;
    animation: stick-2 1s ease-in forwards;
    animation-delay: 1.45s;
    background: #80CBC4;
}
.stick:nth-child(37) {
    top: 300px;
    animation: stick-2 1s ease-in forwards;
    animation-delay: 1.3s;
    background: #B39DDB;
    
}
.stick:nth-child(38) {
    top: 350px;
    animation: stick-2 1s ease-in forwards;
    animation-delay: 1.55s;
    background: #FF8A80;
}
.stick:nth-child(39) {
    top: 400px;
    animation: stick-2 1s ease-in forwards;
    animation-delay: 1.35s;
    background: #80CBC4;
}
.stick:nth-child(40) {
    top: 450px;
    animation: stick-2 1s ease-in forwards;
    animation-delay: 1.65s;
    background: #B39DDB;
}

@keyframes stick-1 {
    33.33% {width: 0;}    
    to {width: 100%;}    
}
@keyframes stick-2 {
    33.33% {
        width: 0;
        right: 0;
    }
    66.66% {
        width: 100%;
    }
    99.99% {
        width: 0;
        left: 0;
    }
}
/* stick animation */