* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
}
.hamburger {
    position: absolute;
    right: 10px;
    width: 75px;
    height: 100px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
span {
    margin-bottom: 10px;
    display: flex;
    width: 50px;
    height: 5px;
    background-color: #000;
}
nav {
    position: relative;
    background: #eee;
    list-style: none;
    width: 100%;
    height: 100px;
    display: flex;
    li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 100%;
    }
    li:hover {
        background: #ddd;
    }
}
.nav2 {
    background: #eee;
    list-style: none;
    width: 150px;
    height: 100%;
    display: none;
    flex-direction: column;
    transition: all 0.3s;
    li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 75px;
    }
    li:hover {
        background: #ddd;
    }
}

@media screen and (max-width:768px) {
    nav li {display: none;}
    .hamburger {display: flex;}
    #hamburger:checked ~ .nav2{display: flex;}
}